<suite name="Suite">

    <test name="Test">
        <classes>
           
          <!--   <class name="tests.SignupTest"/> -->
           <!--  <class name="tests.LoginTest"/> -->
                <!--   <class name="tests.ProductTest"/> -->
              <!--   <class name="tests.CartTest"/> -->
                <!--   <class name="tests.HomeTest"/> -->
            
        </classes>
    </test>
    <listeners>
    <listener class-name="listeners.TestListener"/>
</listeners>
</suite>